@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and old Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* md breakpoint = min-width: 768px */
@media (min-width: 768px) {
    .chat-panel-trigger {
        right: 2.5rem;
        bottom: 0;
    }

    .unread-badge {
        display: flex !important;
    }

    .unread-text {
        display: flex !important;
    }

    .chat-text {
        display: flex !important;
    }

    .chat-chevron {
        display: flex !important;
    }
}

@media screen and (max-width:768px) {
    .unread-badge-mobile {
        display: flex !important;
    }
}

/* md + max-[1009px] = between 768px and 1009px */
@media (min-width: 768px) and (max-width: 1009px) {
    .chat-panel-trigger {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        right: 4rem;
        bottom: 0;
    }
}